/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --white: #f5f5f5;
    --secondary: #191C24;
    --success: #1c9445;
    --dark: #000000;
    --main-font: Arial, sans-serif;
    --background-color: #f4f4f4;
    --table-width: 80%;
    --table-margin: 50px auto;
    --table-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --table-background: #fff;
    --table-border-radius: 8px;
    --table-hover-background: #f5f5f5;
    --header-background: #4CAF50;
    --header-color: #fff;
    --cell-padding: 15px;
    --cell-border-bottom: 1px solid #ddd;
    --mobile-breakpoint: 600px;
    --mobile-row-background: #f2f2f2;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--white);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--success);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}



.content {
    background-color: #e9e9e9;
}


.sidebar {
    width: 251px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    background-color: white;
    transition: .3s ease;
}

.sidebar.hide {
    width: 60px;
}

.sidebar-brand {
    height: 70px;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name img {
    width: 20%;
    margin-left: 10px;
}

.logo-name h3 {
    font-size: 25px;
    font-weight: 700px;
    margin-left: 50px;
    text-align: center;
    color: rgb(51, 95, 51);
}

.sidebar-main {
    display: flex;
    align-items: center;
    margin: 10px 15px 10px 15px;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(177, 177, 177);
}

.sidebar-user {
    margin: 5px;
}

.sidebar-user img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
}

.name {
    margin-left: 5px;
}

.name h3 {
    font-size: 15px;
}

.name span {
    margin-top: 0;
    font-size: 12px;
}

li {
    list-style: none;
}

.side-menu {
    width: 100%;
    margin-top: 48px;
}

.side-menu li {
    height: 48px;
    background-color: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.side-menu li.active {
    background-color: rgb(233, 233, 233);
    position: relative;
}

.side-menu.hide li.active a {
    color: rgb(51, 95, 51);
    width: calc(48px - (4px * 2));
}

.side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 rgb(233, 233, 233);
    z-index: -1;
}

.side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 rgb(233, 233, 233);
    z-index: -1;
}

.side-menu li a {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

.side-menu.top li a:hover {
    color: rgb(36, 102, 36);
}

.side-menu li a .bx {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

.side-menu.bottom li a:hover {
    color: rgb(36, 102, 36);
}

.side-menu li a.logout {
    color: rgb(179, 3, 3);
}

.side-menu.bottom {
    margin-top: 100px;
}



.main {
    width: 95%;
    padding: 20px 24px;
    background: white;
    margin-left: 24px;
    margin-top: 15px;
    border-radius: 4px;
}

.upper form .upper-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 17px;
}

.upper form .lower-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 17px;
}

form .upper-fields .input-field {
    display: flex;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    margin: 4px 0;
    margin-top: -10px;
}

form .lower-fields .input-field {
    display: flex;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    margin: 4px 0;
    margin-top: -10px;
}

.input-field label {
    font-size: 14px;
    font-weight: 500;
}


.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #8d8b8b;
    padding: 0 13px;
    height: 33px;
    margin: 8px 0;
}

.input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #8d8b8b;
    padding: 0 13px;
    height: 33px;
    margin: 8px 0;
    width: 100%;
}

.input-field input[type="date"] {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #8d8b8b;
    padding: 0 13px;
    height: 33px;
    margin: 8px 0;
}

p {
    margin-top: -10px;
}


hr {
    margin-top: 8px;
}
.hidden{
    display: none;
}
.custom-width {
    width: 500px !important; /* Use !important to ensure the style takes precedence */
}

    .selected-row {
        background-color: #cce5ff; /* Highlight color when selected */
    }



    #current-date {
        font-family: Arial, sans-serif;
    }
    .timesheet {
        color: black;
        font-weight: bold;
    }
    .date {
        color: gray;
    }
    #current-date1 {
        font-family: Arial, sans-serif;

    }
    .date1 {
        color: gray;
        font-weight: bold;

    }
    .hours-circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10px;
    }



#countdown {
    font-size: 2rem;
    margin-bottom: 20px;
}

#clockButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clock-in {
    background-color: orange;
    color: white;
}

.clock-out {
    background-color: red;
    color: white;
}
.clock-in-btn {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
}
.stats-bar {
    height: 10px;
    border-radius: 5px;
}
.centered {
    vertical-align: middle;
    text-align: center;

}
.modify{
    width: 100%; padding: 5px;
     border: 1px solid #ccc;
     border-radius: 4px;
     background-color: #f9f9f9;
     margin-left: 10px;
     margin-right: 10px;

}


.underline-input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.underline-input:focus {
    border-bottom: 2px solid #000;
}
.quantity-input {
    display: flex;
    align-items: center;
}

.quantity-input button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.quantity-input input {
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

